*{
    margin: 0;
    padding: 0;
}

.top-nav {
    padding: 2rem;
    flex-wrap: wrap;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    gap: 4rem;
    padding: 0 4rem;
}

.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: #fff;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

@media screen and (max-width: 633px){
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .hamburger {
        display: block;
        
    }
    .nav-ul.show {
        display: flex;
        margin: 2rem 0;
        line-height: 0;
    }
}
