
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(226, 223, 223);
}

.navbar {
    border: 2px solid red;
}

.hamburger {
    float: right;
    margin: 1rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

.sidebar {
    border: 2px solid green;
    margin: 0 2rem;
    display: block;
}

.ul-nav {
    list-style: none;
    padding: 0;
    line-height: 2rem;
}